.App {
  text-align: center;
}
.body-register{
  display: flex;
  align-items: center;
  justify-content: center;

}
.contentRegister{
  margin-top: 100px;
  width: 70vw;
  background:url("https://cdn-images-1.medium.com/max/1800/1*gnUBeL-INIVDk0_GyL8x1g.png");
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0), 0 6px 20px 0 rgba(0,0,0,19);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  flex-direction: 'column';
  align-Items: 'center';

}
.contentLogin{
  margin-top: 100px;
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0), 0 6px 20px 0 rgba(0,0,0,19);
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: 'column';
  align-Items: 'center';
}
.pageRegister{
  align-items: center;
  display:'flex';
  background-color: aqua;
}
.menu-home{
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  display: flex;
}
.paper-login{
  margin-top: 100px;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  text-align: center;
  justify-content: center;
}
.from.login{
  width: "100%";
}

.menu-item {
  padding: 0 40px;
  margin: 15px 0px 10px 0px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.scroll-menu-arrow {
  cursor: pointer;
}

.appbar{
  border: none;
  box-shadow: none;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

